//=============================
//IMPORT
//=============================
@import 'breakpoints';
@import '01_placeholders/import';
@import '02_css-mixins/import';
//=============================
//VARIABLES
//=============================
$tooltipPadding: 0.5rem;
$tooltipMaxWidth: 10rem;
$tooltipColor: #fff;
$tooltipBackgroundColor: #cb6129;
$tooltipBorder: 0.1rem solid #ad5323;
$tooltipBorderRadius: 0.25rem;
$tooltipBoxShadow: 0.05rem 0.05rem 0.1rem 0.05rem rgba(127, 127, 127, 0.5);
$tooltipArrowSize: 0.8rem;
//=============================
//CSS RULES
//=============================
//-----------------------------
//BLOCK
//-----------------------------
.tooltip {
  background-color: $tooltipBackgroundColor;
  border: $tooltipBorder;
  @if $tooltipBorderRadius !='' {
    border-radius: $tooltipBorderRadius;
  }
  @extend %box-sizing-border-box;
  @if $tooltipBoxShadow !='' {
    @include box-shadow($tooltipBoxShadow);
  }
  color: $tooltipColor;
  @extend %display-none;
  @extend %margin-0;
  max-width: $tooltipMaxWidth;
  padding: $tooltipPadding;
  @extend %position-fixed;
}
//-----------------------------
//MODIFIERS
//-----------------------------
.tooltip_bottom,
.tooltip_left,
.tooltip_top,
.tooltip_right {
  &:after {
    background-color: $tooltipBackgroundColor;
    border-bottom-right-radius: $tooltipArrowSize;
    border-left: $tooltipBorder;
    border-top: $tooltipBorder;
    @extend %box-sizing-border-box;
    @extend %content;
    @extend %display-block;
    height: $tooltipArrowSize;
    @extend %position-absolute;
    width: $tooltipArrowSize;
  }
}
.tooltip_bottom {
  &:after {
    left: 50%;
    top: -$tooltipArrowSize / 1.75;
    @include multiple-transform(translateX(-50%) rotate(45deg));
  }
}
.tooltip_left {
  &:after {
    right: -$tooltipArrowSize / 1.75;
    top: 50%;
    @include multiple-transform(translateY(-50%) rotate(135deg));
  }
}
.tooltip_right {
  &:after {
    left: -$tooltipArrowSize / 1.75;
    top: 50%;
    @include multiple-transform(translateY(-50%) rotate(-45deg));
  }
}
.tooltip_top {
  &:after {
    bottom: -$tooltipArrowSize / 1.75;
    left: 50%;
    @include multiple-transform(translateX(-50%) rotate(225deg));
  }
}
.tooltip_screen-top,
.tooltip_screen-bottom {
  max-width: 100%;
  width: 100%;
}
.tooltip_screen-top {
  @if $tooltipBorderRadius !='' {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.tooltip_screen-bottom {
  @if $tooltipBorderRadius !='' {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
