//BLOCK
$tooltip--background: (backgroundColor: #444);
$tooltip--border: (borderColor:  #141414, borderRadius: 0.2rem, borderStyle: solid, borderWidth: 0.05rem);
$tooltip--bottom: -0.25rem;
$tooltip--text: (color: #fff);
$tootlip--font: (fontSize: 0.8rem, fontFamily: sans-serif);
$tooltip--padding: (all: 0.3rem);
$tooltip--sizes: (maxWidth: 12rem, minWidth: 4rem); 
$tooltipPafter--sizes: (width: 0.4rem, height: 0.4rem); 

//MODIFIERS
//bottom
//left
//right
//screen top
//screen bottom
 