//BLOCK
$tooltip--background: (
  backgroundColor: #444
)
!default;
$tooltip--border: (
  borderColor : #141414,
  borderRadius: 0.2rem,
  borderStyle : solid,
  borderWidth : 0.05rem
)
!default;
$tooltip--bottom: -0.25rem;
$tooltip--text: (
  color: #fff
)
!default;
$tootlip--font: (
  fontSize  : 0.8rem,
  fontFamily: sans-serif
)
!default;
$tooltip--padding: (
  all: 0.3rem
)
!default;
$tooltip--sizes: (
  maxWidth: 12rem,
  minWidth: 4rem
)
!default;
$tooltipPafter--sizes: (
  width : 0.4rem,
  height: 0.4rem
)
!default;

//MODIFIERS
//bottom
//left
//right
//screen top
//screen bottom
